#register-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.logo{
    height: 300px;
    width: 350px;
}

#form-heading h1{
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center;
}
#form-heading h2{
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

form {
    background-color: #2d2f49;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

label{
    display: block;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}

input{
    height: 20px;
    position: relative;
    width: 100%;
}

button{
    margin: 5px;
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

button:hover{
    background-color: #41dab1;
}

#logLink{
    padding: 25px;
    font-size: 20px;
    color:white;
    text-decoration: none;
}
#logLink:visited{
    color: purple;
}
#logLink:active{
    color: #41dab1;
}

input[type="file"] {
    display: none;
}

.button {
    display: inline-block;
    border: var(--border);
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0.4rem;
    cursor: pointer;
    background-color: #41dab1;
  }
  
  .button:hover {
    /* background-color: azure; */
    box-shadow: inset 0.1rem 0.2rem 0.2rem white,
      0.1rem 0.1rem 0.1rem -0.1rem rgb(112, 129, 132);
  }
  
#picture-preview {
background-color: #41dab1;
margin: 2rem;
margin-bottom: 1rem;
padding: 2rem;
width: 20rem;
border: var(--border);
border-radius: 2rem;
box-shadow: 0.1rem 0.1rem 0.5rem black;
}